/* Body overflowing background image */

body {
    overflow-x: hidden;
}


/* Text decorators */

h2 {
    text-transform: uppercase;
    color: $dark-paletton;
}

h5 {
    margin-bottom: 50px;
}


/* Social media icons */

.social-media {
    li {
        font-size: 14px;
        a {
            color: $main-paletton;
            font-size: 20px;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
            &:hover,
            &:focus,
            &:active {
                color: $dark-paletton;
            }
        }
    }
}


/* Container fix for 960px width viewport */

@media (width: 960px) {
    .container {
        width: 900px;
    }
}


/* Portable screen navigation bar */

.navbar-custom {
    background-color: $main-paletton;
    img {
        width: 10%;
        position: inherit;
        float: left;
        margin: 9px;
    }
    .navbar-brand {
        color: #ffffff;
        padding: 15px 0px;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: $darker-paletton;
        }
    }
    .navbar-collapse {
        border-color: rgba(255, 255, 255, 0.02);
    }
    .navbar-toggle {
        background-color: $darker-paletton;
        border-color: $darker-paletton;
        &:hover,
        &:focus {
            background-color: $darker-paletton;
        }
        .icon-bar {
            background-color: rgba(255, 255, 255, 0.9);
        }
    }
    .nav {
        li {
            a {
                text-transform: uppercase;
                letter-spacing: 1px;
                color: #ffffff;
                &:hover,
                &:focus {
                    color: $darker-paletton;
                }
            }
        }
    }
    .navbar-nav {
        .active {
            a {
                border-radius: 0;
                color: #ffffff;
                background-color: $dark-paletton;
                &:hover,
                &:focus {
                    color: #ffffff;
                    background-color: $darker-paletton;
                }
            }
        }
    }
}


/* Logo fixes for custom widths */

@media (min-width: 300px) and (max-width: 349px) {
    .navbar-custom {
        img {
            width: 8%;
            position: inherit;
            float: left;
            margin: 13px;
        }
    }
}

@media (min-width: 350px) and (max-width: 400px) {
    .navbar-custom {
        img {
            width: 8%;
            position: inherit;
            float: left;
            margin: 10px;
        }
    }
}

@media (min-width: 401px) and (max-width: 640px) {
    .navbar-custom {
        img {
            width: 8%;
            position: inherit;
            float: left;
            margin: 8px;
        }
    }
}


/* Main screen navigation bar */

@media (min-width: 768px) {
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        img {
            width: 12%;
            position: inherit;
            float: left;
            margin-top: 3px;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
        }
        .navbar-brand {
            padding: 15px 15px;
            font-size: 28px;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
        }
        .navbar-nav>.active>a {
            border-radius: 5px;
        }
    }
    .navbar-custom.affix {
        background-color: $main-paletton;
        padding: 5px;
        img {
            width: 10%;
            margin-top: 7px;
        }
        .navbar-brand {
            font-size: 20px;
        }
    }
}


/* Section backgrounds */

.bg-light {
    background-color: #f5f5f5;
}


/* All sections */

section {
    padding-top: 100px;
    padding-bottom: 100px;
}


/* Header section */

header {
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
    .intro {
        padding-top: 150px;
        padding-bottom: 100px;
        .intro-head {
            text-transform: uppercase;
            font-size: 30px;
            line-height: 20px;
            margin-bottom: 20px;
        }
        .intro-p {
            font-size: 20px;
            line-height: 50px;
            margin-bottom: 75px;
        }
        a {
            color: #ffffff;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
            &:hover,
            &:focus,
            &:active {
                color: $dark-paletton;
            }
        }
    }
}

@media (min-width: 768px) {
    header {
        .intro {
            padding-top: 300px;
            padding-bottom: 200px;
            .intro-p {
                line-height: 75px;
                margin-bottom: 100px;
            }
        }
    }
}


/* Portfolio section */

.portfolio-item {
    display: block;
    position: relative;
    margin: 0 auto;
    .hover {
        background: rgba($main-paletton, 0.75);
        opacity: 0;
        transition: all ease 0.5s;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        position: absolute;
        width: 100%;
        height: 100%;
        &:hover {
            opacity: 1;
        }
        .content {
            position: absolute;
            width: 100%;
            top: 45%;
            color: #ffffff;
        }
    }
}


/* Team section */

.team-individual {
    text-align: center;
    margin-bottom: 50px;
    img {
        border: 5px solid #f5f5f5;
        margin: 0 auto;
    }
    h4 {
        margin-top: 25px;
    }
}

/* Contact section */

textarea {
    resize: none;
}


/* Footer */

footer {
    margin-top: 10px;
    padding: 10px 0px;
    text-align: center;
    span.copyright {
        line-height: 40px;
    }
    span.email {
        line-height: 40px;
    }
}